#inputs input {
  font-size: 18px;
  padding: 5px 5px;
  width: 12em;
}

#inputs button {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 18px !important;
  padding: 8px 16px !important;
  line-height: 18px !important;

  color: #fffdee;
  text-shadow: 0px 1px 1px #146179;
  border-color: #5cb1cb #258db2 #0e6d90;
  background: #1380a7;
  background: -moz-linear-gradient(top, #33a8cd, #1380a7);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33a8cd), color-stop(100%, #1380a7));
  background: -webkit-linear-gradient(#33a8cd, #1380a7);
  background: -o-linear-gradient(#33a8cd, #1380a7);
  background: -ms-linear-gradient(#33a8cd, #1380a7);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#33a8cd', EndColorStr='#1380a7', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33a8cd', EndColorStr='#1380a7', GradientType=0))";
  background: linear-gradient(top, #33a8cd 0%, #1380a7 100%);
  box-shadow: 0 0 1px #9e9e9e;
}

#inputs button:hover {
  text-decoration: none;

  background: #1380a7;
  background: -moz-linear-gradient(top, #6bc1dc, #1380a7);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6bc1dc), color-stop(100%, #1380a7));
  background: -webkit-linear-gradient(#6bc1dc, #1380a7);
  background: -o-linear-gradient(#6bc1dc, #1380a7);
  background: -ms-linear-gradient(#6bc1dc, #1380a7);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#6bc1dc', EndColorStr='#1380a7', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6bc1dc', EndColorStr='#1380a7', GradientType=0))";
  background: linear-gradient(top, #6bc1dc 0%, #1380a7 100%);
}

#inputs button:active {
  box-shadow: inset 0 0 10px #127ba1;
}

#inputs button:focus {
  background: #1380a7;
  background: -moz-linear-gradient(top, #6bc1dc, #1380a7);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6bc1dc), color-stop(100%, #1380a7));
  background: -webkit-linear-gradient(#6bc1dc, #1380a7);
  background: -o-linear-gradient(#6bc1dc, #1380a7);
  background: -ms-linear-gradient(#6bc1dc, #1380a7);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#6bc1dc', EndColorStr='#1380a7', GradientType=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6bc1dc', EndColorStr='#1380a7', GradientType=0))";
  background: linear-gradient(top, #6bc1dc 0%, #1380a7 100%);
}

table {
  border-spacing: 0px;
  margin-left: 0.5em;
  font-size: 110%;
}

thead th {
  font-size: 110%;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  padding-right: 1.5em;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #CCC;
}

tr.winner .conversion-numeric {
  font-weight: bold;
  color: #206606;
}

tr.loser .conversion-numeric {
  font-weight: bold;
  color: #5A110E;
}

#results > tbody th {
  font-weight: normal;
  text-align: left;
  padding: 0.4em 1.5em 0.4em 0.5em;
}

table > tbody td.conversion-visual {
  padding: 0 0.5em;
  vertical-align: middle;
}
