/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/*
 * Thumbtack.com ABBA
 */

body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    background: #efefef;
    color: #333;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -0.1em;
    text-shadow: 0 1px 2px #aaa;
}

h2, h3 {
    font-size: 1.5em;
    text-shadow: 0 0.06em 0.1em #aaa;
}

h3 {
    margin-top: 1em;
    margin-bottom: 0.7em;
}

a {
    color: #1380A7;
}

p {
    line-height: 1.3em;
    margin-bottom: 1em;
}

li {
    line-height: 1.3em;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 2em;
}

pre {
    margin-bottom: 1em;
}

pre, code {
    background-color: #eee;
    font-family: monospace;
    color: #01435A;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


footer {
    padding: 2em;
    font-size: .9em;
}

header {
    padding: 1em 1em 1em 2em;
    border-bottom: 1px solid #bbb;
}

.toolkit {
    background: #efefef;
}

table {
    width: 100%;
}

thead {
    border-bottom: 1px solid #aaa;
    color: #6a6a6a;
    font-size: .9em;
}

tbody.inputs-table {
    border-top: 1px solid #fff;
}

th, td {
    text-align: left;
    padding: 5px 0px 5px 0;
    vertical-align: middle;
}

thead th {
    padding-left: 5px;
}

th {
    font-weight: bold;
}

input, button {
    font-size: 1em;
}

input[type=text] {
    width: 90%;
}

.inputs, .results {
    padding: 2em;
    max-width: 800px;
}

.inputs a {
    font-size: .8em;
}

.inputs p {
    margin-top: 1em;
}

.results thead th {
    padding-left: 0;
}
